<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hacz.edu.dao.DogEntityMapper">
    <resultMap id="BaseResultMap" type="cn.hacz.edu.entity.DogEntity">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, age, birthday
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from dog_entity
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from dog_entity
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="DogEntity"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into dog_entity (`name`, age, birthday
        )
        values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{birthday,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="DogEntity"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into dog_entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="DogEntity">
        <!--@mbg.generated-->
        update dog_entity
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="DogEntity">
        <!--@mbg.generated-->
        update dog_entity
        set `name` = #{name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        birthday = #{birthday,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-05-23-->
    <select id="findByNameAndAge" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dog_entity
        where `name`=#{name,jdbcType=VARCHAR} and age=#{age,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-23-->
    <select id="findAgeByName" resultType="Integer">
        select age
        from dog_entity
        where `name` = #{name,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-23-->
    <select id="findNameByAge" resultType="String">
        select `name`
        from dog_entity
        where age = #{age,jdbcType=INTEGER}
    </select>
</mapper>